<style>
th, td {
padding: 5px;
} 

</style>

<table>
<tr>
<th>Id</th>
<th>Name</th>
<th>Service</th>
<th>From</th>
<th>To</th>
<th>Amount</th>

<th>Action</th>

</tr>

<div class="row" ><span class="col-11" ></span>
<%= link_to "Home", index_path, class: "col-1 btn btn-info" %></div>
<% @entry.each do |en| %>
  <tr>
    <td><%= en.id %></td>
    <td><%= en.name %></td>
    <td><%= en.service_name %></td>
    <td><%= en.from %></td>
    <td><%= en.to %></td>
    <td><%= en.price %></td>
    <td><%= link_to "Print", print_path(en,1), class: "btn btn-success" %></td>
  </tr>
<% end %>

</table>